extends layout

block content
  script(src="/javascripts/update_dashboard.js")
  script(src="/javascripts/update_activity_log.js")
  script(src="/javascripts/init.js")
  script(src="/javascripts/sidebar_click.js")
  script(src="/javascripts/apply_pod_kill.js")
  script(src="/javascripts/apply_pod_stress.js")
  script(src="/javascripts/apply_kubeconfig.js")

  div(id="header" style="background-color:DimGray; width:100%; height:50px;")
    div(style="display:table; text-align:center; width:100%; height:100%;")
      div(style="display:table-cell; vertical-align:middle;")
        h3 Hades Dashboard

  div(id="body" style="background-color:LightGray; height:100%")
    div(id="sidebar" style="background-color:DarkGray; width:250px; height:100%; float:left;")
      div(id="dashboard_btn" style="display:table; text-align:center; width:100%; height:50px; background-color:SlateGray")
        div(style="display:table-cell; vertical-align:middle" onclick="sidebar_click('dashboard')") Dashboard

      div(id="pod_kill_btn" style="display:table; text-align:center; width:100%; height:50px; background-color:DarkGray")
        div(style="display:table-cell; vertical-align:middle;" onclick="sidebar_click('pod_kill')") Pod Kill Configuration

      div(id="pod_stress_btn" style="display:table; text-align:center; width:100%; height:50px; background-color:DarkGray")
        div(style="display:table-cell; vertical-align:middle;" onclick="sidebar_click('pod_stress')") Pod Stress Configuration

      div(id="configure_btn" style="display:table; text-align:center; width:100%; height:50px; background-color:DarkGray")
        div(style="display:table-cell; vertical-align:middle;" onclick="sidebar_click('configure')") Configure

      div(id="about_btn" style="display:table; text-align:center; width:100%; height:50px; background-color:DarkGray")
        div(style="display:table-cell; vertical-align:middle;" onclick="sidebar_click('about')") About

    div(id="mainscreen" style="background-color:LightGray; height:100%; margin-left:250px; float:center;")
      div(id="dashboard_screen" style="background-color:LightGray; height:100%; visibility:visible;")
        div(style="padding:50px")

      div(id="pod_kill_screen" style="background-color:LightGray; height:0%; visibility:hidden;")
        div(style="padding:50px")
          h2 Configure Pod Killing
          p words words words words words words words words words words words words words words words words words words
          br
          p Pod Kill Cron
          table(style="padding:10px")
            tr(style="padding:10px")
              td
                p Enable Pod Killing
              td
                input(id="kill-checkbox" type="checkbox")
            tr(style="padding:10px")
              td
                p Minute
              td
                textarea(id="kill-Minute" rows="1" cols="10" style="resize: none;")
            tr(style="padding:10px")
              td
                p Hour
              td
                textarea(id="kill-Hour" rows="1" cols="10" style="resize: none;")
            tr(style="padding:10px")
              td
                p Day of the Month
              td
                textarea(id="kill-Day_of_the_Month" rows="1" cols="10" style="resize: none;")
            tr(style="padding:10px")
              td
                p Month of the Year
              td
                textarea(id="kill-Month_of_the_Year" rows="1" cols="10" style="resize: none;")
            tr(style="padding:10px")
              td
                p Day of the Week
              td
                textarea(id="kill-Day_of_the_Week" rows="1" cols="10" style="resize: none;")

          div(style="display:table; text-align:center; width:100%; height:50px; margin:20px; background-color:DarkGray")
            div(style="display:table-cell; vertical-align:middle;" onclick="apply_pod_kill()") Apply

      div(id="pod_stress_screen" style="background-color:LightGray; height:0%; visibility:hidden;")
        div(style="padding:50px")
          h2 Configure Pod Stressing
          p words words words words words words words words words words words words words words words words words words
          br
          p Pod Stress Cron
          table(style="padding:10px")
            tr
              td
                p Enable Pod Stressing
              td
                input(id="pod_stress_checkbox" type="checkbox")
            tr(style="padding:10px")
              td
                p Minute
              td
                textarea(id="stress-minute" rows="1" cols="10" style="resize: none;")
            tr(style="padding:10px")
              td
                p Hour
              td
                textarea(id="stress-hour" rows="1" cols="10" style="resize: none;")
            tr(style="padding:10px")
              td
                p Day of the Month
              td
                textarea(id="stress-day" rows="1" cols="10" style="resize: none;")
            tr(style="padding:10px")
              td
                p Month of the Year
              td
                textarea(id="stress-month" rows="1" cols="10" style="resize: none;")
            tr(style="padding:10px")
              td
                p Day of the Week
              td
                textarea(id="stress-year" rows="1" cols="10" style="resize: none;")

          div(style="display:table; text-align:center; width:100%; height:50px; margin:20px; background-color:DarkGray")
            div(style="display:table-cell; vertical-align:middle;" onclick="apply_pod_stress()") Apply

      div(id="configure_screen" style="background-color:LightGray; height:0%; visibility:hidden;")
        div(style="padding:50px")
          h2 Configure Hades
          p words words words words words words words words words words words words words words words words words words
          br
          p Kubernetes Configuration
          table
            tr
              td(style="padding:5px")
                p /root/.kube/config
                textarea(id="config" rows="30" cols="50" style="resize: none;")
              td(style="padding:5px")
                p /root/.kube/user.pem
                textarea(id="user_pem" rows="30" cols="50" style="resize: none;")
              td(style="padding:5px")
                p /root/.kube/user-key.pem
                textarea(id="user_key_pem" rows="30" cols="50" style="resize: none;")

          div(style="display:table; text-align:center; width:100%; height:50px; margin:20px; background-color:DarkGray")
            div(style="display:table-cell; vertical-align:middle;" onclick="apply_kubeconfig()") Apply

      div(id="about_screen" style="background-color:LightGray; height:0%; visibility:hidden;")
        div(style="padding:50px")
          h2 About Hades
          br
          p Hades is a docker container for testing resilience in a Kubernetes environment.
          p The reason for running Hades is to be able to test how resilient your system running in Kubernetes is.
          p While your system is chugging along, Hades will be running along side it and will stir havoc and attempt to bring your system to its knees.
          br
          p Version 0.0.1
